/* use this to put borders around things... */

.crop-img
{
  
max-height:150px;
  
max-width:100%;
  
margin-bottom: 10px;

}



.large-img
{
  
max-width:100%;
  
margin-top: 10px;

}

.list_{
background:green;
color:orange;
font-style:italic;
font-size:150%;
}


a{
height:100px;
width:200px;
background:#ff00ff;
border:solid 1px blue;
padding:10px;
margin:5px;
}
a:hover{
background:gray;
color:red;
}
a:focus{
background:green;
color:red;
}
a:active{
background:yellow;
color:red;
}
h3{
font-family:"Times New Roman", Helvetica, sans-serif;
text-align:center;
font-style:bold;
}


@font-face{
font-family:myspecialfont;
src: url('Collen.ttf');
}
h1{
color:blue;
background-color:yellow;
font-family:arial;
text-align:center;
font-style:bold;
}

h2{
color:green;
font-family:Arial;
font-style:bold;
font-size:250%;
text-align:center;
padding:20px;
margin:5px;
}

p{
color:red;
font-family:myspecialfont;
text-align:center;
font-style:italic;
font-variant:small-caps;
font-size:200%;
text-height:200%;

}


@media(max-width:700px){
body{
background:brown;
}
}
@media(max-width:700px){
.responsive{
display:inline-block;
width:400px;
border:5px solid blue;
}
}




